html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  touch-action: auto;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Marquee Effect for Logos */
.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.marquee-content {
    display: flex;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%) }
  100% { transform: translateX(-100%) }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@media (min-width: 768px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .custom-cursor {
    display: none !important;
  }
}
.container {
  text-align: middle;
  overflow: hidden;
  width: 100%;
  position: relative;
  white-space: nowrap;
  padding-bottom: 20px;
}

.container .first {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  color: #bd1f40 white;
  animation: alternate-color 14s ; /* Added color animation */
}

.container .first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 2px solid black; 
  animation: animate 10s steps(50), blink 1s steps(1) 30; /* Added blink animation */
  z-index: 1;
}

@keyframes alternate-color {
  0%, 100% {
    color: #e5ea98; 
  }
  50% {
    color: #155f48;
  }
}

@keyframes animate {
  0% {
    left: 0;
  }
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent; /* Cursor invisible */
  }
  50% {
    border-color: black; /* Cursor visible */
  }
}